
<app-slider></app-slider>    <br>
<!-- <div class="contain" class="carousel-height">

<mdb-carousel [isControls]="true"  [animation]="'slide'" class="carousel-height">
 
        <mdb-carousel-item>
                <div class="container-fluid">
                <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <mdb-card  [routerLink]="['/products-list',bag]" >
              <mdb-card-img src="../../assets/images/bag.jpg" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>BAG</h4>
                </mdb-card-title>
               
                 <a  mdbBtn color="primary"   [routerLink]="['/products-list',bag]" (click)="products($event)" class="waves-light" mdbWavesEffect>Buy now</a> 
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <mdb-card >
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Card title</h4>
                </mdb-card-title>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <mdb-card >
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Card title</h4>
                </mdb-card-title>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          </div>
          </div>
        </mdb-carousel-item>
     

        <mdb-carousel-item >
                <div class="container-fluid">
                <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <mdb-card>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Card title</h4>
                </mdb-card-title>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <mdb-card >
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Card title</h4>
                </mdb-card-title>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <mdb-card >  
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>Card title</h4>
                </mdb-card-title>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          </div>
          </div>
        </mdb-carousel-item>
       </mdb-carousel>

   </div>

   <router-outlet></router-outlet>

   <br>
   <br>sdgsdgsdg -->



   Angular was a ground-up rewrite of AngularJS.

Angular does not have a concept of "scope" or controllers, instead it uses a hierarchy of components as its primary architectural characteristic.[6]
Angular has a different expression syntax, focusing on "[ ]" for property binding, and "( )" for event binding[7]
Modularity – much core functionality has moved to modules
Angular recommends the use of Microsoft's TypeScript language, which introduces the following features:
Class-based Object Oriented Programming
Static Typing
Generics
TypeScript is a superset of ECMAScript 6 (ES6), and is backwards compatible with ECMAScript 5 (i.e.: JavaScript). Angular also includes ES6:
Lambdas
Iterators
For/Of loops
Python-style generators
Reflection
Dynamic loading
Asynchronous template compilation
Iterative callbacks provided by RxJS. RxJS limits state visibility and debugging, but these can be solved with reactive add-ons like ngReact or ngrx.
History
Naming
Originally, the rewrite of AngularJS was called "Angular 2" by the team, but this led to confusion among developers. To clarify, the team announced that separate terms should be used for each framework with "AngularJS" referring to the 1.X versions and "Angular" without the "JS" referring to versions 2 and up.[8]




Angular was a ground-up rewrite of AngularJS.

Angular does not have a concept of "scope" or controllers, instead it uses a hierarchy of components as its primary architectural characteristic.[6]
Angular has a different expression syntax, focusing on "[ ]" for property binding, and "( )" for event binding[7]
Modularity – much core functionality has moved to modules
Angular recommends the use of Microsoft's TypeScript language, which introduces the following features:
Class-based Object Oriented Programming
Static Typing
Generics
TypeScript is a superset of ECMAScript 6 (ES6), and is backwards compatible with ECMAScript 5 (i.e.: JavaScript). Angular also includes ES6:
Lambdas
Iterators
For/Of loops
Python-style generators
Reflection
Dynamic loading
Asynchronous template compilation
Iterative callbacks provided by RxJS. RxJS limits state visibility and debugging, but these can be solved with reactive add-ons like ngReact or ngrx.
History
Naming
Originally, the rewrite of AngularJS was called "Angular 2" by the team, but this led to confusion among developers. To clarify, the team announced that separate terms should be used for each framework with "AngularJS" referring to the 1.X versions and "Angular" without the "JS" referring to versions 2 and up.[8]