<div class="container">
  <div class="left">
    <h2 mat-dialog-title>Forgot Password</h2>
    <img src="../../../assets/images/forgot_password.png">

  </div>

  <div class="right">
    <mat-dialog-content>
      <a> <i class="material-icons" (click)="close()">
          cancel
        </i></a>
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="emailForm">
          <form [formGroup]="emailForm">
            <ng-template matStepLabel>Fill out the email</ng-template>
            <mat-form-field>
              <input matInput placeholder="Email Id" formControlName="email" required>
              <mat-error *ngIf="emailForm.get('email').hasError('required')">
                <div>Email is required</div>
              </mat-error>
              <mat-error *ngIf="emailForm.get('email').hasError('pattern')">
                <div>
                  Email pattern mismatch (Eg : logu@gmail.com)</div>
              </mat-error>

            </mat-form-field>

            <button class="mat-raised-button mat-primary" matStepperNext (click)="verifyEmail(stepper)">Next</button>
            <h6>{{errorMessage}}</h6>

          </form>
        </mat-step>
        <mat-step [stepControl]="answerForm" [optional]="isOptional">
          <form [formGroup]="answerForm">
            <ng-template matStepLabel>Fill out your questions</ng-template>
            <mat-form-field>
              <input matInput placeholder="secretQuestion" formControlName="secretQuestion" required>
              <mat-error *ngIf="answerForm.get('secretQuestion').hasError('required')">
                <div>Secret Question is required</div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="secretAnswer" formControlName="secretAnswer" required>
              <mat-error *ngIf="answerForm.get('secretAnswer').hasError('required')">
                <div>Secret Answer is required</div>
              </mat-error>
            </mat-form-field>


            <button class="mat-raised-button mat-primary" matStepperNext (click)="verifyAnswer(stepper)">Next</button><br>
            <h6>{{wrongAnswer}}</h6>

          </form>
        </mat-step>


        <mat-step [stepControl]="resetPasswordForm" [optional]="isOptional">
          <form [formGroup]="resetPasswordForm">
            <ng-template matStepLabel>Reset Password
            </ng-template>
            <mat-form-field>
              <input [type]="hide ? 'password' : 'text'" matInput placeholder="New Password" formControlName="newPassword"
                required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                <div>Password is required</div>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" required>
              <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('mustMatch')">Password Mismatch</mat-error>
            </mat-form-field>


            <button class="mat-raised-button mat-primary" (click)="resetPassword(stepper)">Reset Password</button>
            <h6>{{passwordError}}</h6>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <h5> {{successMessage}}</h5>
          <i class="material-icons">
            done
          </i>

          <button class="mat-raised-button mat-primary" (click)="close()">ok</button>

        </mat-step>
      </mat-horizontal-stepper>
    </mat-dialog-content>
  </div>
</div>