.container{
    display: flex;
       
}
i{
    float:right;
}
img{
    width :100px;
    height: 200px;
}
button{
    width:180px;
    height : 35px;
}
.left{
    float: left;
    flex-direction: column;   
    width: 200px;
   padding-right:10px;
    overflow: hidden;
}
.right{
 
    float: right;
    overflow:hidden;
    flex-direction: column;
}
h6{
    color:red;
}
h5,i{
    color:green;
}