.row{
    display:flex;
    flex-wrap: wrap;  
}

.side{
    flex:15%;
    padding: 15px;
    background-color:#f2f2f2;
    /* height : 500px; */
    
}


.menu{
 width:100%;
 display: flex;
 justify-content: center;
 align-items: center;
margin :5px;
 flex-direction: column;
}


.menu a {
color :black;
padding : 5px;
margin : 8px;
font-weight: bold;
width : 100%;
height : 35px;
font-size: 15px;

}

.menu a:hover{
    background-color: #b3b3b3;
    size : 15px;
}


    
    
.main{
    flex:85%;
    padding:20px;  
    display: flex;
    flex-direction: row;  
}