<h2 align="center"><b>Admin Page</b> </h2>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <mdb-card>

        <mdb-card-body style="background-color: #00802b">
          No. of Users <i class="fa fa-users" aria-hidden="true"></i>



        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <mdb-card>

        <mdb-card-body style="background-color:  #4d79ff">
          No. of Products<i class="fa fa-shopping-bag" aria-hidden="true"></i>

        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <mdb-card>

        <mdb-card-body style="background-color:  #ff6666">No. of Orders <i class="fa fa-check-circle" aria-hidden="true"></i>
        </mdb-card-body>

      </mdb-card>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <mdb-card>

        <mdb-card-body style="background-color:  #d24dff">No. of delivered
          <i class="fa fa-truck" aria-hidden="true"></i>


        </mdb-card-body>

      </mdb-card>
    </div>
    <br>
  </div>
</div>