<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item>
    <img src="/assets/images/slide1.jpg" alt="Battery cars">
    <div class="carousel-caption">
      <h3 class="h3-responsive">
        Battery cars
      </h3>
      <p>Amazing battery cars with 10% offers</p>
    </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <img src="/assets/images/slide2.jpg" alt="Kids Toys">
    <div class="carousel-caption">
      <h3 class="h3-responsive"> Kids Toys</h3>
      <p>Different toys different enjoyment</p>
    </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
    <img src="/assets/images/slide3.jpg" alt="Gaming boards">
    <div class="carousel-caption">
      <h3 class="h3-responsive"> Gaming boards</h3>
      <p>Kids gaming boards available with 25% offers</p>
    </div>
  </mdb-carousel-item>
  <!--/Third slide-->
  <!--Fourth slide-->
  <mdb-carousel-item>
    <img src="/assets/images/slide4.jpg" alt="Teady bears">
    <div class="carousel-caption">
      <h3 class="h3-responsive"> Teady Bears</h3>
      <p>Soft and colorful teady bears available with 20% offers</p>
    </div>
  </mdb-carousel-item>
  <!--/Fourth slide-->
  <!--Fivth slide-->
  <mdb-carousel-item>
    <img src="/assets/images/slide5.jpg" alt="Kids Musical instruments">
    <div class="carousel-caption">
      <h3 class="h3-responsive"> Kids Musical instruments</h3>
      <p>Buy great kids musical instruments with 33% offers</p>
    </div>
  </mdb-carousel-item>
  <!--/Fivth slide-->
  <!--Sixth slide-->
  <mdb-carousel-item>
    <img src="/assets/images/slide6.jpeg" alt="Swimming pools">
    <div class="carousel-caption">
      <h3 class="h3-responsive"> Swimming Pools</h3>
      <p>Kids long lasting swimming pool with 2 years garrenty</p>
    </div>
  </mdb-carousel-item>
  <!--/Sixth slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
<br>

  
  <router-outlet></router-outlet>